body { 
	color: white; 
    font-weight: bold;
    font-style: italic;
	background: url(source4.jpg) no-repeat; 
    background-repeat: no-repeat; 
    background-size: cover;
}
span { 
	color: white;
    font-style: italic;
} 
}
::-webkit-input-placeholder { 
	color: black; 
}
#main { 
    border: 0px solid black; 
    padding: 40px; 
}
#main p{
    font-size: 37px;
    animation: type 15s steps(70);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;   
}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 70ch;
    }
}
#main div { 
	margin: 10px;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
} 
#input { 
	border: 0; 
    background: white; 
    padding: 5px; 
    border: 1px solid black; 
    border-radius: 20px; 
    box-sizing: 30px;
    height: 30px;

@media (max-width: 1199px){
    body{
        background-size:cover;
    }
}
@media (max-width: 1199px){
    #main p{
        font-size: 37px;
        line-height: 1;
    }
}
@media (max-width: 991px){
    #main p{
        font-size: 30px;
        line-height: 1;
        position: relative;
        top: 0px;
        right: 0px;
        
    }
}
@media (max-width: 720px){
    #main p{
        font-size: 25px;
        line-height: 1.5;
    }
}
@media all and (min-width: 480px){
    #main p{
        font-size: 40px;
    }    
}
